name: Build, Push and Test Docker Image

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    outputs:
      image-tag: ghcr.io/temp-org-naloga/dummy-service:1.0.0  # izvozimo tag
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Docker image
        run: |
          docker build -t ghcr.io/temp-org-naloga/dummy-service:1.0.0 .

      - name: Push Docker image
        run: |
          docker push ghcr.io/temp-org-naloga/dummy-service:1.0.0

  test-service:
    runs-on: ubuntu-latest
    needs: build-and-push       # čaka, da se build-and-push konča
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set Docker image tag
        run: echo "IMAGE_TAG=${{ needs.build-and-push.outputs.image-tag }}" >> $GITHUB_ENV

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y curl docker-compose

      - name: Update docker-compose.yaml image
        run: |
          sed -i "s|image: .*|image: $IMAGE_TAG|" docker-compose.yaml

      - name: Start service with Docker Compose
        run: |
          docker-compose up -d

      - name: Wait for service
        run: |
          for i in {1..20}; do
            status=$(curl -s -o /dev/null -w "%{http_code}" http://localhost:8000/health) || true
            if [ "$status" -eq 200 ]; then
              echo "Service is up!"
              exit 0
            fi
            echo "Waiting for service..."
            sleep 3
          done
          echo "Health check failed"
          exit 1

      - name: Stop Docker Compose
        if: always()
        run: docker-compose down